html {
  color: white;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  font-family: sans-serif;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: sans-serif;
}

body {
  background-image: url('D-Brayden-Van-Landschoot-Opdr05-01.png');
  background-size: contain;
}